# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/


# Misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# GitGotchi Local Artifacts (Root Only)
/gitgotchi.json
/gitgotchi-lvl*.svg