name: Test GitGotchi

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *' # Run daily at midnight
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-pet:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm ci

      - name: Build Action
        run: npm run build && npm run package

      - name: Run GitGotchi
        uses: ./
        with:
          token: ${{ secrets.USER_TOKEN }}
          pet_name: 'Demo Dragon'

      - name: Commit and Push
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add README.md .github/gitgotchi/
          # Only commit if there are changes
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update GitGotchi Stats" && git push)
